<div>
  <h1>
    <span><%= @post.id %></span>
    <%= @post.title %>
  </h1>
  <p><%= @post.body %></p>
  <p> <%= time_ago_in_words @post.created_at %> </p>
  <%= link_to "Edit", edit_post_path(@post) %>
  <%= link_to "Delete", post_path(@post), method: :delete %>
</div>

<%= form_with(model: [@post, @comment], local:true) do |f| %>
  <% if @comment.errors.full_messages.each do |msg| %>
    <ul>
      <li><%= msg %></li>
    </ul>
    <% end %>
  <% end %>
  <div>
    <%= f.text_area(:body, cols: 50, rows: 5, placeholder: "What do you think ?") %>
  </div>
  <%= f.submit 'Submit'%>
<% end %>

<ul>
  <% @comments.each do |comment| %>
    <li>
      <p><%= comment.body %></p>

      <small>Commented <%= time_ago_in_words comment.created_at %></small>
    </li>
  <% end %>
</ul>